{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<br/>

    <table border="1" cellpadding="4">
    <tr>
        <th style="text-align:left">Course Name</th>
        <th style="text-align:left">Section Name</th>
        <th style="text-align:left">Professor</th>
        <th style="text-align:left">Room Number</th>
        <th style="text-align:left">Credits</th>
        <th style="text-align:left">Semester</th>
        <th style="text-align:left">Seats Left</th>
    </tr>
    {% for item in query_results %}
    <tr> 
         <td style="text-align:left">{{ item.0 }}</td>
         <td style="text-align:left">{{ item.1 }}</td>
         <td style="text-align:left">{{ item.2 }}</td>
        <td style="text-align:left">{{ item.3 }}</td>
        <td style="text-align:left">{{ item.4 }}</td>
        <td style="text-align:left">{{ item.5 }}</td>
        <td style="text-align:left">{{ item.6 }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}
